<div>
  <div
    style="position: absolute;
           margin-top: -20vh;
           width: 100%;
           text-align: center;
           font-variant: all-small-caps;"
  >
    <a
      data-hint="code analysis for first epoch companion"
      class="hint--bottom"
      href="http://api.companion.money/reports/client-complexity/"
    ><abbr title='mobile reference client (like "merc")'>mrc</abbr></a>
    <a
      data-hint="code analysis for one platform"
      class="hint--bottom"
      href="http://api.companion.money/reports/complexity/"
    ><abbr title="application programming interface">api</abbr></a>
    <a
      data-hint="platform documentation"
      class="hint--bottom"
      href="http://docs.companion.money"
    >docs</a>
  </div>

<section
  ng-class="{
    'animated': true,
    'fadeIn': vm.loaded === true
  }"
  ng-if="vm.loaded === true"
>
  <div
    class="logo"
    style="font-variant: all-small-caps;"
  >
    <div
      class="hint--always hint--top"
      data-hint="conata is getting a new look. we'll be back soon."
    >
      <a
        href="http://www.companion.money"
      >
        <img
          class="image"
          src="./images/conata--logo.png"
          alt="Conata"
        />
      </a>
    </div>
  </div>
</section>
</div>
